@import './../../../../fonts';
:host {
    flex: 1 1 auto;
    height: 100vh;
}
.grid {
    height: 100%;
    display: grid;
    place-items: center;
}

.login-form {
    width: 400px;
    padding: 10px;
    
    .text-danger {
        padding: 5px;
        font-family: 'OpenSans-Regular';
        color: #ea5455;
    }
    input {
        border-radius: $standard-border-radius;
        width: 100%;
        padding: 10px;
        margin-bottom: 5px;
        font-size: 15px;
        font-family: 'OpenSans-regular';
        border: 1px solid #CFCFCF;
        outline: 0;
        color: black;

        &.is-invalid {
            border-color: #dc3545;

        }
    }

    button {
        font-family: "OpenSans-semibold";
        padding: 10px;
        width: 100%;
        border-radius: $standard-border-radius;
        font-size: 15px;
        background-color: #7367f0;
        border: 1px solid #7367f0;
        color: white;
        &:focus {
            border: 1px solid #7367f0;
        }
        &:hover {
            opacity: 0.8;
        }
    }
}
