<div class="news-card">
    <div class="news-card-header">
        <div class="news-card-title ">{{news.title}}</div>
        <div class="actions ">
            <button class="btn btn-xs edit-btn" (click)="gotoEditForm()" *ngIf="news.status !== 'archived'">
                <span class=" d-lg-inline-block">Edit</span>
            </button>
            <button class="btn btn-xs publish-btn" (click)="PublishNews()"
                *ngIf="(news.status !== 'published') && (news.status !== 'archived')">
                <span class=" d-lg-inline-block text-success">Publish</span>
            </button>
            <button class="btn btn-xs archive-btn" (click)="archiveNews()" *ngIf="news.status !== 'archived'">
                <span class=" d-lg-inline-block text-danger">Archive</span>
            </button>
            <button class="btn btn-xs delete-btn" (click)="deleteNews()">
                <span class=" d-lg-inline-block text-danger">
                    Delete</span>
            </button>
        </div>
    </div>
    <div class="news-card-body">{{news.description}}</div>
</div>