@import 'fonts';

$application-background-color: #161d31;

* {
    box-sizing: border-box;
    font-family: 'OpenSans-regular';
    position: relative;
    font-weight: normal;
}
body {
    height: 100%;
    margin: 0;
}

.btn.btn-xs {
    padding: .20rem .3rem;
    font-size: .75rem;
}