@import './../../fonts';

.toolbar {
    background-color: $forground-color;
    border-radius: $standard-border-radius;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .toolbar-brand {
        font-family: $font-semibold;
    }

    .user-details {
        font-size: 12px;
        font-family: $font-semibold;
        text-align: right;
        p {
            margin: 0;
        }
    }
}

