@import "./../../fonts";

.toolbar {
    background-color: $forground-color;
    border-radius: $standard-border-radius;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .toolbar-brand {
        font-family: $font-semibold;
    }
    .right-side {
        display: flex;
        flex-direction: row;

        .user-details {
            font-size: 12px;
            font-family: $font-semibold;
            text-align: right;
            display: inline-block;
            p {
                margin: 0;
            }
        }

        button {
            margin-left: 10px;
        }
    }
}

@media (max-width: 768px) {
    .toolbar {
        display: block;

        .toolbar-brand {
            margin-bottom: 10px;
            text-align: center;
        }
        .right-side {
            justify-content: space-between;
        }
    }
}
