@import './../../../../fonts';
:host {
    display: inline-block;
    margin-top: 20px;
    width: 100%;
}

h6 {
    font-family: "OpenSans-semibold";
    margin: 10px 0;
}

.btn-add {
    background-color: rgba(40, 199, 111, 0.12);

    span {
        color: $font-green;
    }
    &:hover {
        span {
            color: white !important;
        }
    }
}
.news {
    display: inline-block;
}

.no-News {
    display: inline-block;
    width: 100%;
    font-family: "OpenSans-regular";
    font-size: 15px;
}
app-error-msg {
    margin-top: 10px;
    display: inline-block;
    width: 100%;
}