:host {
    display: inline-block;
    margin-top: 20px;
    width: 100%;
}

h6 {
    font-family: "OpenSans-semibold";
    margin: 10px 0;
}

.news {
    display: inline-block;
}

.no-News {
    display: inline-block;
    width: 100%;
}